numpy #numerical python
pandas #data manipulation
scikit-learn #for model & data preprocessing
openai #EDA proccess
groq #EDA proccess
seaborn #data visualization
dotenv #to load environment variables
matplotlib #data visualization
